div {
  margin: 0px 10px 5px 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
  color: rgb(64, 63, 63);
  font-size: 20px;
}
  .answer{
    width: auto;
    font-size: 20px;
    display: flex;
    position: relative;
    left: 72%;
  }
  .circle{
    border-radius: 50px;
  }
  .box{
    display: flex;
  }

  mat-card{
    width: 30%;
    margin: auto;
    text-align: center;
  }
  mat-card-title{
    text-align: center;
    background-color: gray;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0px -15px 20px -22px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: 300;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
  }
  mat-card-content {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 0px -14px 0px -23px;
    padding: 50px 0px 70px 0px;
    padding-right: 45%;
    background-color: white;
  }
  button {
    color:#007bff;
    background-color: white;
    text-align: center;
    display: inline-block;
    padding: 8px;
    transition-duration: 0.4s;
    border-radius: 8px;
    border-color: #007bff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
  }
  button:hover {
    background-color: #007bff;
    color: white;
  }

  .another {
    background-color: rgb(245, 245, 245);;
    margin: 0px -16px 0px -23px;
  }

  @keyframes wiggle {
    0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(5deg); }
   95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

.wiggle {
  display: inline-block;
  animation: wiggle .3s;
  animation-duration: .8s;
  animation-iteration-count: 2;
}

@media (max-width: 450px) {
 div {
    font-size: 14px;
  }
}

@media (max-width: 450px) {
  mat-card-content {
     font-size: 14px;
   }
 }
 
 @media (max-width: 450px) {
  mat-card-image {
    margin-top: -30px;
   }
 }

 @media (max-width: 450px) {
  .wiggle {
    max-width: 50px;
   }
 }

 