div {
  margin: 0px 17px 0px 17px;
}
.intro {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
  font-size: 20px;
  font-weight: 350;
  margin: 8px 0px -8px 0px;
  padding: 20px 0px 0px 0px;
}
mat-card {
    margin: auto;
    text-align: center;
    padding-top: 95px;
  }
  mat-card-actions {
    position: relative;
  }
  mat-card-actions button {
    position: absolute;
    right: -10px;
    top: -35px;
  }  
mat-card-title {
    border-bottom: 2px solid gray;
  }
  .title {
    padding: 20px 150px 20px 150px;  
    text-align: center;
  }
  button {
    color:#007bff;
    padding: 8px;
    background-color:rgb(253, 253, 253);
    text-align: center;
    display: inline-block;
    transition-duration: 0.4s;
    border-radius: 8px;
    border-color: #007bff;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
  }
  button:hover {
    background-color: #007bff;
    color: white;
  }
  
  @media only screen and (min-width: 768px) {
    mat-card {
      width: 65%;
      text-align: center;
    }
  }

  @media only screen and (min-width: 1100px) {
    mat-card {
      width: 60%;
      text-align: center;
    }
  }
  @media only screen and (min-width: 1400px) {
    mat-card {
      width: 40%;
      text-align: center;
    }
  }
  @media only screen and (min-width: 1800px) {
    mat-card {
      width: 35%;
      text-align: center;
    }
  }
  @media only screen and (min-width: 2000px) {
    mat-card {
      width: 30%;
      text-align: center;
    }
  }
 
  @media only screen and (max-width: 450px) {
   .intro {
      font-size: 18px;
      text-align: center;
      margin: 0px 0px -14px 0px;
    }
  }
  @media only screen and (max-width: 370px) {
    .intro {
       font-size: 14px;
       text-align: center;
       margin: 0px 0px -14px 0px;
     }
   }


