<div>
    <mat-card>
      <div *ngFor="let q of quiz" 
          [style.border-radius] ="'20px'" 
          [style.max-width]="'400px'" 
          [style.box-shadow]="'0px 3px 7px 0px rgba(112,112,112,1)'" 
          >
          <div>
            <img src="{{q.image}}"
            [style.border-top-left-radius] ="'20px'"
            [style.border-top-right-radius] ="'20px'" 
            [style.max-width]="'450px'">
              <mat-card-content>
                <h3 class="text">{{q.label}}</h3>
                <h4 class="text-two">{{q.description}}</h4></mat-card-content>
          </div>
          <mat-card-actions>
            <button class="button" 
            [style.border-radius] ="'15px'" routerLink="/{{q.name}}">
              <h4 class ="btn-text">Go to quiz</h4>
            </button>
          </mat-card-actions>
        </div>
    </mat-card>
  </div>

